@model WGS.ViewModels.AddQuestionsToExamViewModel
@using System.Web.Mvc.Ajax
@using FluentBootstrap


@{
    ViewBag.Title = "AddQuestions";
    AjaxOptions options = new AjaxOptions() { UpdateTargetId = "QuestionDetailsDiv", HttpMethod = "GET", InsertionMode = InsertionMode.Replace };
}


<h2>Add or modify Questions</h2>
@using (var grid = Html.Bootstrap().GridColumn(4).Begin())
{
    <h3>Exam ID: @Model.ExamId</h3>
    <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th>Question</th>
                <th>Actions</th>
            </tr>
        </thead>
        @if (Model.Questions != null)
        {
            foreach (var question in Model.Questions)
            {
                <tr>
                    <td>@question.QuestionText</td>
                    <td>@Ajax.ActionLink(linkText: "Select", controllerName: "Questions", actionName: "AddChoicesToQuestion", routeValues: new { QuestionId = question.Id, ExamId = Model.ExamId }, htmlAttributes: new { @class = "btn btn-primary" }, ajaxOptions: options)</td>
                </tr>
            }
        }
    </table>

    using (var form = Html.Bootstrap().Form(controllerName: "Questions", actionName: "AddQuestion", routeValues: new { Model.ExamId }).Begin())
    {
        @form.EditorFor(f => f.QuestionText)
        @form.SelectFor(c=>c.CategoryId, Model.CategoryeSelectList)
        @form.Submit("Add Question")
    }
}


@using (Html.Bootstrap().GridColumn(8).Begin())
{
    <div class="container-fluid" id="QuestionDetailsDiv">

    </div>
}